 
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400italic,700);

html {
    overflow-y: scroll;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}

.controls {
    position: absolute;
    z-index: 100;
    bottom: 60px;
    left: 8px;
    padding: 12px;
    border-radius: 8px;

    background-color: rgba(255, 255, 255, 0.9);
}
.controls label {
    margin-left: 5px;
}
.temperature {
    font-weight: bold;
}

#container {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

#map {
    display: block;
}

#container .city {
    font-size: 0.7vmax;
    position: absolute;
    display: block;
    background-color: white;    
    border: 1px solid black;
    width: 4px;
    height: 4px;
    border-radius: 5px;
    margin: -5px 0 0 -5px;
    color: white;
    text-shadow: 1px 1px 2px black;
    white-space: nowrap;
    line-height: 5px;
    text-indent: 10px;
}