body {
    margin: 0;
    padding: 0;
}

.controls {
    position: absolute;
    z-index: 100;
    bottom: 60px;
    left: 8px;
    padding: 12px;
    border-radius: 8px;

    background-color: rgba(255, 255, 255, 0.9);
}
.controls label {
    margin-left: 5px;
}
.temperature {
    font-weight: bold;
}

#container {
    position: relative;
    display: inline-block;
}

#container .city {
    position: absolute;
    display: block;
    width: 5px;
    height: 5px;
    color: white;
    background-color: red;
    text-shadow: 1px 1px 2px black;
}