 
/* roboto-condensed-regular - latin */
@font-face {
font-family: 'Roboto Condensed';
font-style: normal;
font-weight: 400;
src: url('/res/fonts/roboto-condensed-v24-latin-regular.eot'); /* IE9 Compat Modes */
src: local(''),
        url('/res/fonts/roboto-condensed-v24-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/res/fonts/roboto-condensed-v24-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('/res/fonts/roboto-condensed-v24-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('/res/fonts/roboto-condensed-v24-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/res/fonts/roboto-condensed-v24-latin-regular.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
}
/* roboto-condensed-700 - latin */
@font-face {
font-family: 'Roboto Condensed';
font-style: normal;
font-weight: 700;
src: url('/res/fonts/roboto-condensed-v24-latin-700.eot'); /* IE9 Compat Modes */
src: local(''),
        url('/res/fonts/roboto-condensed-v24-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('/res/fonts/roboto-condensed-v24-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('/res/fonts/roboto-condensed-v24-latin-700.woff') format('woff'), /* Modern Browsers */
        url('/res/fonts/roboto-condensed-v24-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
        url('/res/fonts/roboto-condensed-v24-latin-700.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
}

html {
    overflow-y: scroll;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

#container {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

#map {
    display: block;
}

#container .city {
    font-size: 0.7vmax;
    position: absolute;
    display: block;
    margin: -0.1vmax 0 0 -0.1vmax;
    color: white;
    text-shadow: 1px 1px 2px black;
    white-space: nowrap;
    line-height: 0.2vmax;
    text-indent: 0.4vmax;
}

#page {
    position: relative;
    top: -450px;
    left: 0px;
    margin-bottom: -400px;
}
.controls, .descriptions {
    background-color: rgba(255, 255, 255, 1);
}
.controls {
    display: inline-block;
    z-index: 100;
    padding: 12px;
    border-radius: 8px 8px 0 0;
}
.controls .title {
    text-transform: uppercase;
    font-size: 14px;
    padding-top: 5px;
}
.controls input {
    display: none;
}
.controls label {
    display: block;
    position: relative;
    cursor: pointer;
    text-align: center;
    padding: 0 5px;
    line-height: 24px;
    margin: 5px 0;
    border-radius: 8px;
    background-color: #757575;
    color: white;
}
.controls input:checked+label {
    background-color: #004D40;   
}
.controls input:disabled+label {
    background-color: #dbdbdb;
    cursor: default;
}
.controls label.toggle {
    padding: 0;
    overflow: hidden;
}
.controls label.toggle span {
    display: inline-block;
    width: 50%;
    height: 100%;
}
.controls label.toggle span.off {
    background-color: #004D40;
}
.controls input:checked+label.toggle span.off {
    background-color: #757575;   
}
.temperature {
    font-weight: bold;
    padding-bottom: 5px;
}

.descriptions {
    padding: 24px 12px;
    border-radius: 0 8px 0 0;
}

.descriptions a {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
}

.descriptions > div {
    max-width: 900px;
    margin: 12px auto;
}

#footer {
    text-align: center;
    margin: 20px 0 20px 0;
}
#footer, #footer a {
    color: #757575;
}

@media only screen and (max-width : 1500px) {
    #page {
        top: -3vw;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 8px 8px 0 0;
        background-color: rgba(255, 255, 255, 1);
    }
    .controls {
        position: static;
        margin: 0 auto;
        background-color: transparent;
        padding-top: 24px;
    }
}