<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
    <meta charset="utf-8">
    <link rel="alternate" href="https://cli-mat.traines.eu/en/" hreflang="en" />
    <link rel="alternate" href="https://cli-mat.traines.eu/de/" hreflang="de" />
    <link rel="alternate" href="https://cli-mat.traines.eu/fr/" hreflang="fr" />
    <title>{{ gettext('title') }}</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=3,user-scalable=yes">
    <link href="https://traines.eu/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <link rel="apple-touch-icon" sizes="180x180" href="https://traines.eu/res/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://traines.eu/res/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://traines.eu/res/icon/favicon-16x16.png">
    <link href="/res/styles.css" type="text/css" rel="stylesheet">
    <script src="/dist/climate-change-cartograms.js"></script>
</head>

<body>
    <div id="wrapper"><div>
        <div id="container"><span id="error">{{ gettext('webglerror') }}</span><canvas id="map"></canvas></div>
    </div></div>

    <div id="page">
        <div class="controls" id="controls">
            <div class="temperature">{{ gettext('temperature') }}: <span id="temperature"></span> °C <img src="/res/loading.gif" id="loading-indicator"></div>
            {% for item in mappings.year.mapping %}
            <div><input type="checkbox" name="{{ item.id }}" id="{{ item.id }}" {{ "checked" if item.selected }}><label for="{{ item.id }}" class="toggle"><span class="off">{{ gettext('today') }}</span><span class="on">{{ gettext('2100') }}</span></label></div>
            {% endfor %}
            <div class="title">{{ gettext('parameters') }}</div>
            {% for item in mappings.parameters.mapping %}
            <div><input type="checkbox" name="{{ item.id }}" id="{{ item.id }}" {{ "checked" if item.selected }}><label for="{{ item.id }}">{{ gettext(item.id) }}</label></div>
            {% endfor %}
            <div class="title">{{ gettext('metrics') }}</div>
            {% for item in mappings.metrics.mapping %}
            <div><input type="checkbox" name="{{ item.id }}" id="{{ item.id }}" {{ "checked" if item.selected }}><label for="{{ item.id }}">{{ gettext(item.id) }}</label></div>
            {% endfor %}
            <div class="title">{{ gettext('impacts') }}</div>
            {% for item in mappings.impacts.mapping %}
            <div><input type="checkbox" name="{{ item.id }}" id="{{ item.id }}" {{ "checked" if item.selected }}><label for="{{ item.id }}">{{ gettext(item.id) }}</label></div>
            {% endfor %}
        </div>

        <div class="descriptions"><div>
            {% for item in binaries %}
            <div id="{{ item.id }}_description" class="binary-description">
                <h3>{{ gettext(item.id) }}</h3>
                <p>{{ gettext(item.id+'_description') }}</p>
            </div>
            {% endfor %}
            <h3>{{ gettext('about_title') }}</h3>
            <p class="about"><a href="https://youtu.be/dZDKwwXl4d0">{{ gettext('walkthrough') }}</a></p>
            <p class="about">{{ gettext('about') }}</p>
            <p>{{ gettext('disclaimer') }}</p>
            <h3>{{ gettext('credits_title') }}</h3>
            <p>{{ gettext('credits') }} <a href="https://github.com/traines-source/climate-change-cartograms">https://github.com/traines-source/climate-change-cartograms</a></p>
            {{ credits }}
        </div></div>
    </div>

    <div id="footer">
        <a href="/en/" hreflang="en">EN</a> | <a href="/de/" hreflang="de">DE</a> | <a href="/fr/" hreflang="fr">FR</a> | <a href="https://traines.eu/impressum.html">{{ gettext('imprint') }}</a>
    </div>
    <script>
        const mapManager = new CCC.MapManager(new CCC.Vector(600, 300), 3000);
        mapManager.loadMappings();
    </script>    
</body>
</html>