<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
    <meta charset="utf-8">
    <link rel="alternate" href="/en/" hreflang="en" />
    <link rel="alternate" href="/de/" hreflang="de" />
    <title>Climate Change Cartograms</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=3,user-scalable=yes">
    <link href="/res/styles.css" type="text/css" rel="stylesheet">
</head>

<body>
    <div id="container"><span id="error">{{ gettext('webglerror') }}</span><canvas id="map"></canvas></div>

    <div id="page">
        <div class="controls" id="controls">
            <div class="temperature">{{ gettext('temperature') }}: <span id="temperature"></span> °C <img src="/res/loading.gif" id="loading-indicator"></div>
            {% for item in mappings.year.mapping %}
            <div><input type="checkbox" name="{{ item.id }}" id="{{ item.id }}" {{ "checked" if item.selected }}><label for="{{ item.id }}" class="toggle"><span class="off">{{ gettext('today') }}</span><span class="on">{{ gettext('2100') }}</span></label></div>
            {% endfor %}
            <div class="title">{{ gettext('parameters') }}</div>
            {% for item in mappings.parameters.mapping %}
            <div><input type="checkbox" name="{{ item.id }}" id="{{ item.id }}" {{ "checked" if item.selected }}><label for="{{ item.id }}">{{ gettext(item.id) }}</label></div>
            {% endfor %}
            <div class="title">{{ gettext('metrics') }}</div>
            {% for item in mappings.metrics.mapping %}
            <div><input type="checkbox" name="{{ item.id }}" id="{{ item.id }}" {{ "checked" if item.selected }}><label for="{{ item.id }}">{{ gettext(item.id) }}</label></div>
            {% endfor %}
            <div class="title">{{ gettext('impacts') }}</div>
            {% for item in mappings.impacts.mapping %}
            <div><input type="checkbox" name="{{ item.id }}" id="{{ item.id }}" {{ "checked" if item.selected }}><label for="{{ item.id }}">{{ gettext(item.id) }}</label></div>
            {% endfor %}
        </div>

        <div class="descriptions"><div>
            {% for item in binaries %}
            <div id="{{ item.id }}_description" class="binary-description">
                <h3>{{ gettext(item.id) }}</h3>
                <p>{{ gettext(item.id+'_description') }}</p>
            </div>
            {% endfor %}
            <h3>{{ gettext('about_title') }}</h3>
            <p class="about">{{ gettext('about') }}</p>
            <p>{{ gettext('disclaimer') }}</p>
            <h3>{{ gettext('credits_title') }}</h3>
            <p>{{ gettext('credits') }} <a href="https://github.com/traines-source/climate-change-cartograms">https://github.com/traines-source/climate-change-cartograms</a></p>
            {{ credits }}
        </div></div>
    </div>

    <div id="footer">
        <a href="/en/" hreflang="en">EN</a> | <a href="/de/" hreflang="de">DE</a> | <a href="https://traines.eu/impressum.html">{{ gettext('imprint') }}</a>
    </div>
    <script src="/dist/climate-change-cartograms.js"></script>
    
</body>
</html>